
@{
    ViewBag.Title = "Index";
}
<!--MAtricula-->

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary espacio-btn" data-toggle="modal" data-target="#exampleModalLong">
                Crear Nueva Matricula
            </button>
        </div>
        <div class="col-12">
            <input type="search" id="texto"  class="form-control" placeholder="Escribir codigo del alumno" onkeyup="capturarTexto()"/>
        </div>
        
        <!--modal agregar-->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nueva Matricula</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div id="" class="">
                            <form id="frmMatricula">
                                <div class="form-group">
                                    <label>Año:</label>
                                    <input type="date" id="año" name="Año" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Ciclo:</label>
                                    <input type="text" id="ciclo" name="Ciclo" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Carrera:</label>
                                    <select id="carrera" name="CarreraId" class="form-control">
                                        <option value="-1">Selecciona una Carrera</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Estudiante:</label>
                                    <select id="estudiante" name="EstudianteId" class="form-control">
                                        <option value="-1">Selecciona un Alumno</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Grupo:</label>
                                    <select id="grupo" name="GrupoId" class="form-control">
                                        <option value="-1">Selecciona un Grupo</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="btnGuardar" value="Guardar Registro" class="btn btn-outline-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--modal modificar-->
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Matricula</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="" class="">
                    <form id="frmMatriculaModificar">
                        <input type="hidden" name="Id" id="mid" />
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>Estudiante:</label>
                                    <select id="mestudiante" name="EstudianteId" class="form-control" disabled>
                                        <option value="-1" class="text-center">Selecciona un Alumno</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>Ciclo:</label>
                                    <input type="text" id="mciclo" name="Ciclo" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Año:</label>
                            <input type="date" id="maño" name="Año" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Carrera:</label>
                            <select id="mcarrera" name="CarreraId" class="form-control">
                                <option value="-1">Selecciona una Carrera</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Grupo:</label>
                            <select id="mgrupo" name="GrupoId" class="form-control">
                                <option value="-1">Selecciona un Grupo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btnGuardar" value="Guardar Registro" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
 <!-- Modal iscripcion-->
<div class="modal fade" id="inscribir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Inscribir Modulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Formulario-->
                <div id="contenido" class="">
                    <form id="frmNotasMtricual">

                        <input type="hidden" id="id" name="Id" class="form-control" />
                        <input type="hidden" id="Idmatricula" name="matriculaId" />
                        <div class="form-group">
                            <input type="text" disabled id="nombreAlumno" class="form-control text-center" />
                        </div>

                        <div class="form-group">
                            <label>Módulo</label>
                            <select id="modulo" name="ModuloId" class="form-control">
                                <option value="-1">Selecciona módulo</option>
                            </select>
                        </div>
                        <!--Obtener notas-->
                        <div id="final">
                            <div class="form-group">
                                <input type="hidden" id="nota1" name="Nota1" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="nota2" name="Nota2" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="nota3" name="Nota3" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="nota4" name="Nota4" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="nota5" name="Nota5" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="notafinal" name="NotaFinal" value="0" class="form-control" disabled />
                            </div>
                        </div>
                        <!--fin Obtener-->
                        <div class="form-group">
                            <label>Visibilidad</label>
                            <select id="status" name="Status" class="form-control">
                                <option value="">Selecciona una opcion</option>
                                <option value="0">Ocultar</option>
                                <option value="1">Mostrar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btnGuardar" value="Guardar Registro" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="">
        <table id="tbmatricula" class="table table-dark table-hover table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Estudiante</th>
                    <th>Año</th>
                    <th>Ciclo</th>
                    <th>Carrera</th>
                    <th>Grupo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="text-white"></tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/matriculaAJAX.js"></script>
<script src="~/Scripts/DetalleMatricula/detalle.js"></script>

