
@{
    ViewBag.Title = "Matricula";
    Layout = "~/Views/Shared/_LayoutProfe.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6">

            <table class="table table-hover table-responsive espacio-btn">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Código</th>
                        <th>Grupo</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

