<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Notas esfe agape, entrega de notas esfe, notas online esfe" />
    <link rel="icon" type="image/png" href="~/Content/Images/isotipo-ESFE.png" />
    <title>@ViewBag.Title - Notas Online ESFE</title>


    <!-- References -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="baner-esfe">
        <div class="container-fluid">
            <div class="container"> <!-- id-->
                <div class="row" id="nav">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <img src="~/Content/Images/esfe.png" alt="Logo-esfe" class="logo-esfe" />
                    </div>
                    <div class="col-sm-2 col-md-9 col-lg-9">
                        <div class="titulo-esfe">
                            Escuela Superior Franciscana Especializada/AGAPE
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <img src="~/Content/Images/voyagape.png" alt="Logo-agape" class="logo-agape" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-dark bg-esfe">
        
        <div class="container-fluid">

            <header>
                <div class="menu_bar">
                    <a href="#" class="btn-menu"><span class="icon-menu"></span></a>
                </div>
                <div class="container">
                    <nav>
                        <ul>
                            @if (Request.IsAuthenticated)
                            {
                                <li><a href="/Home/Notas"><span class="icon-user"></span>Notas</a></li>
                                <li><a href="/Home/Cerrar"><span class="icon-switch"></span>Cerrar</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Index"><span class="icon-home3"></span>INICIAR SESION</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- Barra redes social-->
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/ESFE.AGAPE" target="_blank" class="icon-facebook2"></a></li>
                <li><a href="https://www.youtube.com/user/asociacionagape" target="_blank" class="icon-youtube"></a></li>
                <li><a href="http://esfe.agape.edu.sv" target="_blank" class="icon-earth"></a></li>
            </ul>
        </div>

        @RenderBody()
    </div>
    <br /><br />
    <footer class="text-white footer-esfe">
        <div class="container-fluid">
            
            <div class="container">
                <p>&copy; @DateTime.Now.Year ESCUELA SUPERIOR FRANCISCANA ESPECIALIZADA / AGAPE. ALL RIGHTS RESERVED</p>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p>La Escuela Superior Franciscana Especializada/Agape (ESFE/AGAPE), es una Institución de Educación Superior dedicada a la formación de Profesionales Técnicos en las áreas de Ingeniería Eléctrica, Ingeniería de Desarrollo de Software y Gestión y Desarrollo Turístico, brindamos servicios de capacitación, cursos y diplomados, dirigidos a trabajadores de empresas y público en general, además nuestra Escuela de Idiomas ofrece servicios educativos en los niveles básico, intermedio y avanzado del idioma inglés para niños, jóvenes y adultos.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p><span class="icon-location"></span><strong>Ubicación:</strong> Km. 63 Carretera San Salvador - Sonsonate El Salvador, CentroAmérica.</p>
                        <label><span class="icon-envelop"></span><strong> Escríbenos:</strong> esfe@agape.edu.sv</label>
                        <label><span class="icon-mobile"></span><strong> Llámanos:</strong> 2429-9700/2429-9701</label>

                        <img src="~/Content/Images/White ESFE.png" alt="" class="img-fluid"/>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/ScrollEventJquery.js"></script>

</body>
</html>