
@{
    ViewBag.Title = "Inscripción";
}


<div class="container">
    <div class="row">

        <div class="col-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary espacio-btn" data-toggle="modal" data-target="#exampleModalLong">
                Nueva Inscripcion
            </button>
        </div>
        <div class="col-12">
            <input type="search" id="txtBuscar" placeholder="Escribe el codigo del estudiante" class="form-control espacio-btn" onkeyup="CapturarTexto()"/>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Agregar nuevas Notas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!--Formulario-->
                        <div id="contenido" class="">
                            <form id="frmNotas">

                                <input type="hidden" id="id" name="Id" class="form-control" />

                                <div class="form-group">
                                    <label>Estudiante</label>
                                    <select id="matricula" name="matriculaId" class="form-control">
                                        <option value="">Selecciona un alumno</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Módulo</label>
                                    <select id="modulo" name="ModuloId" class="form-control">
                                        <option value="-1">Selecciona módulo</option>
                                    </select>
                                </div>
                                <!--Obtener notas-->
                                <div id="final">
                                    <div class="form-group">
                                        <label>Primer Nota</label>
                                        <input type="text" id="nota1" name="Nota1" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Segunda Nota</label>
                                        <input type="text" id="nota2" name="Nota2" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tercera Nota</label>
                                        <input type="text" id="nota3" name="Nota3" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Cuarta Nota</label>
                                        <input type="text" id="nota4" name="Nota4" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Quinta Nota</label>
                                        <input type="text" id="nota5" name="Nota5" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Nota Final</label>
                                        <input type="text" id="notafinal" name="NotaFinal" class="form-control" disabled />
                                    </div>
                                </div>
                                <!--fin Obtener-->
                                <div class="form-group">
                                    <label>Visibilidad</label>
                                    <select id="status" name="Status" class="form-control">
                                        <option value="">Selecciona un Status</option>
                                        <option value="0">Ocultar</option>
                                        <option value="1">Mostrar</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="btnGuardar" value="Guardar Registro" class="btn btn-outline-primary"/>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>


        <!--tabla-->

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="">
                <table id="tbNotas" class="table table-dark table-hover table-responsive-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Ciclo</th>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Módulo</th>
                            <th>Nota1</th>
                            <th>Nota2</th>
                            <th>Nota3</th>
                            <th>Nota4</th>
                            <th>Nota5</th>
                            <th>NotaFinal</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-white"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal para camnbiar status-->
<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar status del ciclo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--Formulario-->
                <div id="contenido" class="">
                    <form id="statusMod">
                        <div class="form-group">
                            <input class="form-control text-center" id="StatusStudent" disabled/>
                        </div>
                        <label class="text-center"><strong>Si das click en cambiar se modificara el Status de todos los modulos del alumno</strong></label>
                        <input type="hidden" id="StatusMatriculaID" name="Id" class="form-control" />
                        <div class="form-group">
                            <label>Visibilidad</label>
                            <select id="StatusStatus" name="Status" class="form-control">
                                <option value="">Selecciona un Status</option>
                                <option value="0">Ocultar</option>
                                <option value="1">Mostrar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btnGuardar" value="cambiar" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/detalleAJAX.js"></script>