
@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_LayoutProfe.cshtml";
    var id = ViewBag.IdProfesor;
}
<input type="hidden" id="MiId" value="@id"/>
<center><h3 class="text-light">Mis Alumnos</h3></center>
<div class="container">
    <div class="row">
        <div class="col-12 text-white">
            <input type="text" id="buscar" name="Buscar" class="form-control espacio-btn" placeholder="Haz una busqueda"/><br>
            <table id="alumnos" class="table table-dark table-hover table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Codigo</th>
                        <th>Ciclo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal para ver modulos del alumno-->
<div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Modulos del Alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="mostrarModulos">
                    <div class="container">
                    <!--diseño en ajax-->
                        <!--Tabla-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-dark table-hover table-responsive-md" id="tbMalumno">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Estudiante</th>
                                            <th>Módulo</th>
                                            <th>N1</th>
                                            <th>N2</th>
                                            <th>N3</th>
                                            <th>N4</th>
                                            <th>N5</th>
                                            <th>NF</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-white"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Notas-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar Notas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--formulario para agregar notas-->
                <form id="frmNotas">

                    <input type="hidden" id="pid" name="Id" class="form-control" />
                    <input type="hidden" id="matricula" name="matriculaId" />
                    <input type="hidden" id="status" name="Status" />
                    <input type="hidden" id="modulo" name="ModuloId" />
                    <input type="hidden" id="refrescar" />
                    <div class="form-group">
                        <input type="text" id="nombreMod" class="form-control text-center" disabled />
                    </div>
                    <!--Obtener notas-->
                    <div id="final">
                        <div class="form-group">
                            <label>Primer Nota</label>
                            <input type="text" id="MODnota1" name="Nota1" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Segunda Nota</label>
                            <input type="text" id="MODnota2" name="Nota2" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Tercera Nota</label>
                            <input type="text" id="MODnota3" name="Nota3" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Cuarta Nota</label>
                            <input type="text" id="MODnota4" name="Nota4" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Quinta Nota</label>
                            <input type="text" id="MODnota5" name="Nota5" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Nota Final</label>
                            <input type="text" id="MODnotafinal" name="NotaFinal" class="form-control" disabled />
                        </div>
                    </div>
                    <!--fin Obtener-->
                    <div class="form-group">
                        <input type="submit" id="btnGuardar" value="Guardar Registro" class="btn btn-outline-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/JSprofesor/crudProfesor.js"></script>