
@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_LayoutProfe.cshtml";
    var id = ViewBag.IdProfesor;
}
<input type="hidden" id="MiId" value="@id"/>
<center><h3 class="text-light">Mis Alumnos</h3></center>
<div class="container">
    <div class="row">
        <div class="col-12 text-white">
            <input type="text" id="buscar" name="Buscar" class="form-control espacio-btn" placeholder="Haz una busqueda"/><br>
            <table id="alumnos" class="table table-dark table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Codigo</th>
                        <th>Ciclo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Modulos del Alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--C mamut aqui -->
                <form id="mostrarModulos">
                    <div></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Notas-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar Notas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/JSprofesor/crudProfesor.js"></script>
<script src="~/Scripts/DetalleMatricula/detalle.js"></script>