
@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_LayoutProfe.cshtml";
}
<center><h3 class="text-light">Mis Alumnos</h3></center>
<div class="container">
    <div class="row">
        <div class="col-12 text-white">
            <input type="text" id="buscar" name="Buscar" class="form-control espacio-btn" placeholder="Haz una busqueda"/><br>
            <table id="" class="table table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre Alumno</th>
                        <th>Apellido Alumno</th>
                        <th>Codigo Alumno</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            
        </div>
    </div>
</div>