
@{
    ViewBag.Title = "Index";
    var pAdmin = ViewBag.IdAdmin; var pProf = ViewBag.IdProf;
}

<input type="hidden" id="SessionAdmin" value="@pAdmin"/><input type="hidden" id="SessionProfe" value="@pProf"/>
<div class="container">
    <div class="frame">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 carts-centradas">
                <div class="card cartas">
                    <img src="~/Content/Images/teacher01.jpg" class="card-img-top" alt="Teacher">
                    <div class="card-body">
                        <h5 class="card-title text-center">Profesor(a)</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <center><a href="/Home/LoginProfe" class="btn btn-outline-primary btn-center">Iniciar sesión</a></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 carts-centradas">
                <div class="card cartas">
                    <img src="~/Content/Images/admin01.jpg" class="card-img-top" alt="Administrador">
                    <div class="card-body">
                        <h5 class="card-title text-center">Administrador(a)</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-12"> <!-- class="col-sm-3 ml-sm-6 offset-sm-1 col-md-10 offset-md-2 col-lg-8 offset-lg-4" -->
                                    <center><a href="/Home/LoginAdmin" class="btn btn-outline-primary btn-center">Iniciar sesión</a></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/VerificarSession.js"></script>