<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Content/Images/isotipo-ESFE.png" />
    <title>@ViewBag.Title - Notas Online ESFE/Agape</title>

    <!-- References -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-dark bg-esfe">
        <img src="~/Content/Images/esfe.png" alt="Logo-esfe" class="logo-esfe"/>
        <div class="frame-nav">
            <header>
                <div class="menu_bar">
                    <a href="#" class="btn-menu"><span class="icon-menu"></span></a>
                </div>

                <nav>
                    <ul>
                        @if (Request.IsAuthenticated)
                        {
                            <li><a href="/Carrera/Index"><span class="icon-briefcase"></span>Carreras</a></li>
                            <li><a href="/Modulo/Index"><span class="icon-tree"></span>Módulos</a></li>
                            <li><a href="/Profesor/Index"><span class="icon-user-tie"></span>Profesores</a></li>
                            <li><a href="/Grupo/Index"><span class="icon-tree"></span>Grupos</a></li>
                            <li><a href="/Estudiante/Index"><span class="icon-user"></span>Estudiantes</a></li>
                            <li><a href="/Matricula/Index"><span class="icon-list"></span>Matrícula</a></li>
                            <li><a href="~/DetalleInscripcion/Index"><span class="icon-table2"></span>Inscripciones</a></li>
                            <li><a href="/Administrador/Index"><span class="icon-cog"></span>Administradores</a></li>
                            <li><a href="/Home/Cerrar"><span class="icon-switch"></span>Cerrar sesión</a></li>
                        }
                        else
                        {
                            <li><a href="/Home/Index"><span class="icon-home3"></span>INICIAR SESION</a></li>
                        }
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <br /><br /><br /><br />

    <footer class="text-white bg-esfe">
        <div class="container">
            <p>&copy; @DateTime.Now.Year ESCUELA SUPERIOR FRANCISCANA ESPECIALIZADA / AGAPE - TODOS LOS DERECHOS RESERVADOS</p>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
</body>
</html>