
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<!-- main -->
<div class="main-agileinfo slider ">
    <div class="items-group">
        <div class="item agileits-w3layouts">
            <div class="block text main-agileits">
                <!-- login form -->
                <div class="login-form loginw3-agile">
                    <div class="agile-row">
                        <h1>Inicio de sesión</h1>
                        <div class="login-agileits-top">
                            <form id="frmLogin">
                                <div class="form-group">
                                    <label>Código institucional </label>
                                    <input type="text" class="form-control" id="cod" name="Codigo" placeholder="Introduce tu código" autofocus />
                                    <span><small>Ejemplo: [ ab19-009-001 ].</small></span>
                                </div>
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control" id="pass" name="Contraseña" placeholder="Introduce tu contraseña" />
                                </div>
                                <input type="submit" value="Entrar" id="btnSubmit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //main -->
<script src="~/Scripts/LoginStudentAjax.js"></script>