@{
    ViewBag.Title = "Módulo";
}


<div class="container">
    <div class="row">

        <div class="col-12">
            <button type="button" class="btn btn-primary espacio-btn" data-toggle="modal" data-target="#exampleModalLong">
                Crear Nuevo modulo
            </button>
           <!--buscar-->
            <form id="buscar">
                <div class="form-group">
                    <input type="text" class="form-control espacio-btn" placeholder="Escribe el nombre del modulo" id="mod" onkeyup="Iniciar()"/>
                </div>
            </form>
        </div>
        <!--Modal-->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Modulo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!--Formulario-->
                        <div class="" id="">
                            <form id="frmmodulo">
                                <input type="hidden" name="Id" id="id" />
                                <div class="form-group">
                                    <label>Nombre del modulo:</label>
                                    <input type="text" id="nombre" class="form-control" name="NombreModulo" />
                                </div>
                                <div class="form-group">
                                    <label>Carrera:</label>
                                    <select id="carrera" name="CarreraId" class="form-control">
                                        <option value="-1">Selecciona una Carrera</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>UV:</label>
                                    <input type="text" id="uv" name="uv" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-outline-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>

        <!--Tabla-->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="">
                <table class="table table-dark table-hover table-responsive-sm" id="tbmodulo">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre del Módulo</th>
                            <th>Carrera</th>
                            <th>UV</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-white"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>



<script src="~/Scripts/moduloAJAX.js"></script>
